<div class="screen-background">
  <div class="dashboard-screen">
    <div class="menu">
      <div class="top-icons">
        <div class="upper-icons">
          <span class="material-icons mb-10 menu-btn" (click)="toggleMenu()">
            menu
          </span>
          <span class="material-icons"> home </span>
          <span class="material-icons"> view_list </span>
        </div>
        <div class="lower-icons">
          <span class="material-icons"> groups </span>
          <span class="material-icons"> checklist </span>
          <span class="material-icons"> sync_alt </span>
        </div>
      </div>
      <div class="bottom-icons">
        <span class="material-icons"> work </span>
        <span class="material-icons"> account_circle </span>
        <span class="material-icons"> logout </span>
      </div>
    </div>
    <div class="expandable-menu" *ngIf="isMenuExpanded">
      <div class="top-icons">
        <div class="upper-icons">
          <span class="material-icons mb-10" (click)="toggleMenu()">
            close
          </span>
          <div class="d-flex">
            <span class="material-icons"> home </span>
            <span>Home</span>
          </div>
          <div class="d-flex">
            <span class="material-icons"> view_list </span>
            <span>More Options</span>
          </div>
        </div>
        <div class="lower-icons">
          <div class="d-flex">
            <span class="material-icons"> groups </span>
            <span>Team</span>
          </div>
          <div class="d-flex">
            <span class="material-icons"> checklist </span>
            <span>Tasks</span>
          </div>
          <div class="d-flex">
            <span class="material-icons"> sync_alt </span>
            <span>Sync</span>
          </div>
        </div>
      </div>
      <div class="bottom-icons">
        <div class="d-flex">
          <span class="material-icons"> work </span>
          <span>Work</span>
        </div>
        <div class="d-flex">
          <span class="material-icons"> account_circle </span>
          <span>Account</span>
        </div>
        <div class="d-flex">
          <span class="material-icons"> logout </span>
          <span>Logout</span>
        </div>
      </div>
    </div>
    <div class="main-screen">
      <div class="page-title">
        <p class="title">Insights Dashboard</p>
        <span class="material-icons"> more_vert </span>
      </div>
    </div>
  </div>
  <div class="screen-options">
    <div>Built with Angular</div>
    <div class="options">
      <span class="material-icons"> home </span>
      <div class="navigation">
        <span class="material-icons"> keyboard_arrow_left </span>
        <span>1 0f 66</span>
        <span class="material-icons"> keyboard_arrow_right </span>
      </div>
    </div>
    <div class="link-updated">
      <p>Link Updated: Jul 30, 2020 at 11:39 AM</p>
    </div>
  </div>
</div>
