
.screen-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 5rem);
    width: 100%;
    min-width: 100% !important;
    padding: 20px 90px;
    background-color: rgb(245, 245, 245);
  }
  
  .material-icons{
    cursor: pointer;
  }
  
  .dashboard-screen{
    min-height: calc(100vh - 12rem);
    min-width: 100%;
    border: 1px solid rgb(191, 191, 191);
    margin-bottom: 5px;
    display: flex;
    position: relative;
  }
  
  .dashboard-screen .menu{
    flex: 0.5;
    background-color: rgb(79, 79, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 7px;
    color: white;
  }
  
  .dashboard-screen .expandable-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 17rem;
    z-index: 10;
    background-color: rgb(79, 79, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
    height: 100%;
  }
  
  .dashboard-screen .menu .top-icons, .dashboard-screen .expandable-menu .top-icons{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .dashboard-screen .menu .top-icons .upper-icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid rgb(245, 245, 245);
    padding-bottom: 10px;
  }
  
  .dashboard-screen .expandable-menu .top-icons .upper-icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid rgb(245, 245, 245);
    padding-bottom: 10px;
  }
  
  .mb-10{
    margin-bottom: 10px;
  }
  
  .dashboard-screen .menu .top-icons .lower-icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  
  .dashboard-screen .expandable-menu .top-icons .lower-icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .dashboard-screen .menu .bottom-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  .dashboard-screen .expandable-menu .bottom-icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .d-flex{
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }
  
  
  .dashboard-screen .main-screen{
    flex: 12;
    padding: 20px;
    background-color: #fff;
  }
  
  .main-screen .page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .main-screen .page-title .title{
    font-size: 20px;
    font-weight: 600;
  }
  
  
  .screen-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: gray;
  }
  
  .screen-options .options{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .screen-options .options .navigation{
    display: flex;
    align-items: center;
    gap: 10px;
  }