<div class="screen-background">
  <div class="dashboard-screen">
    <div class="menu">
      <div class="top-icons">
        <div class="upper-icons">
          <span class="material-icons mb-10"> menu </span>
          <span class="material-icons"> home </span>
          <span class="material-icons"> view_list </span>
        </div>
        <div class="lower-icons">
          <span class="material-icons"> groups </span>
          <span class="material-icons"> checklist </span>
          <span class="material-icons"> sync_alt </span>
        </div>
      </div>
      <div class="bottom-icons">
        <span class="material-icons"> work </span>
        <span class="material-icons"> account_circle </span>
        <span class="material-icons"> logout </span>
      </div>
    </div>
    <div class="expandable-menu" *ngIf="isMenuExpanded">
      <div class="top-icons">
        <div class="upper-icons">
          <span class="material-icons mb-10"> menu </span>
          <div class="home">
            <span class="material-icons"> home </span>
            <span>Home</span>
          </div>
          <div class="additional-options">
            <span class="material-icons"> view_list </span>
            <span>More Options</span>
          </div>
        </div>
        <div class="lower-icons">
          <div class="groups">
            <span class="material-icons"> groups </span>
            <span>Team</span>
          </div>
          <div class="checklist">
            <span class="material-icons"> checklist </span>
            <span>Tasks</span>
          </div>
          <div class="sync">
            <span class="material-icons"> sync_alt </span>
            <span>Sync</span>
          </div>
        </div>
      </div>
      <div class="bottom-icons">
        <div class="work">
          <span class="material-icons"> work </span>
          <span>Work</span>
        </div>
        <div class="account">
          <span class="material-icons"> account_circle </span>
          <span>Account</span>
        </div>
        <div class="logout">
          <span class="material-icons"> logout </span>
          <span>Logout</span>
        </div>
      </div>
    </div>
    <div class="main-screen">
      <div class="page-title">
        <p class="title">Insights Dashboard</p>
        <span class="material-icons"> more_vert </span>
      </div>
      <div class="dashboard-data">
        <div class="box">
          <span class="total">80</span>
          <span class="total-info">Cases with alerts</span>
          <div class="details">
            INSUFFICIENCY, VERIFICATION ALERTS & EXCEPTIONAL APPROVAL
          </div>
        </div>
        <div class="box">
          <span class="total">300</span>
          <span class="total-info">Active Cases</span>
          <div class="details">ALL OPEN & ON-HOLD CASES</div>
        </div>
        <div class="box">
          <span class="total">20</span>
          <span class="total-info">Unclaimed Cases</span>
          <div class="details">CASES WHICH ARE NOT CLAIMED BY THE AGENTS</div>
        </div>
        <div class="box">
          <span class="total">80</span>
          <span class="total-info">New Reports</span>
          <div class="details">CASES WITH NEW REPORTS UPLOADED</div>
        </div>
      </div>
      <div class="attention-cases">
        <span class="section-title">NEEDS ATTENTION</span>
        <div class="cases-issue">
          <div class="issue">
            <div class="left">
              <span class="total">40</span>
              <div class="issue-details">
                <span class="heading">Insufficiency Cases</span>
                <span class="heading-info">Cases where insufficient raised</span>
              </div>
            </div>
            <div class="right">
              <span class="cases-link">View Cases</span>
            </div>
          </div>
          <div class="issue">
            <div class="left">
              <span class="total">20</span>
              <div class="issue-details">
                <span class="heading">Verification Alerts</span>
                <span class="heading-info">Cases with verification status orange & red</span>
              </div>
            </div>
            <div class="right">
              <span class="cases-link">View Cases</span>
            </div>
          </div>
          <div class="issue">
            <div class="left">
              <span class="total">20</span>
              <div class="issue-details">
                <span class="heading">Missing Documents</span>
                <span class="heading-info">List of all the employees where documents are not
                  submitted</span>
              </div>
            </div>
            <div class="right">
              <span class="cases-link">View Cases</span>
            </div>
          </div>
        </div>
      </div>
      <div class="all-cases-details">
        <div class="closed-cases">
          <span class="total-closed">200 Closed cases this year</span>
          <span class="closed-cases-link">View closed cases</span>
        </div>
        <div class="all-cases">
          <span class="total-cases">2560 All Cases</span>
          <span class="all-cases-link">View all cases</span>
        </div>
      </div>
    </div>
  </div>
  <div class="screen-options">
    <div>Built with Angular</div>
    <div class="options">
      <span class="material-icons"> home </span>
      <div class="navigation">
        <span class="material-icons"> keyboard_arrow_left </span>
        <span>1 0f 66</span>
        <span class="material-icons"> keyboard_arrow_right </span>
      </div>
    </div>
    <div class="link-updated">
      <p>Link Updated: Jul 30, 2020 at 11:39 AM</p>
    </div>
  </div>
</div>